[submodule "testdata/repo"]
	path = testdata/repo
	url = https://gitlab.com/jucacrispim/toxictest.git
[submodule "testdata/fork-repo"]
	path = testdata/fork-repo
	url = https://gitlab.com/jucacrispim/toxictest.git
